<html>
  <head>
    <%= stylesheet_link_tag 'layout' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <p><%= link_to 'Blog', '/blog', class: 'example' %></p>
    <p>Mail me at <%= mail_to 'fake@faker.com',"Fake Email Link",cc: "test@demo.com" %></p>
    <p><%= image_tag 'padrino.png', width: '35',class:'logo' %></p>
  </body>
</html>
